/* Reset */

a {
  color: #fff;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  list-style: none;
}

/* Main */

:root {
  --primary-color: #27c79a;
  --primary-border-radius: 2px;
}

body {
  font-family: Montserrat;
  background: #fafafa;
  max-width: 1028px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

p {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.007em;
}

/* Top */

.mobile-bar {
  background: #000;
  margin-left: 4px;
  padding-left: 25px;
  height: 80px;
  align-items: center;
}

.mobile-bar svg {
  margin-right: 15px;
}

.top {
  color: #fff;
  margin-left: 4px;
  padding: 10px 72px 0 64px;
  height: 367px;
  background: linear-gradient(
      0deg,
      rgba(30, 42, 53, 0.8),
      rgba(30, 42, 53, 0.8)
    ),
    url(./img/bg.png);
  background-repeat: no-repeat;
}

.nav-menu {
  flex-grow: 1;
}

.nav-menu__bar {
  top: 4px;
  position: relative;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.nav-menu__bar-slider {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #fff;
  height: 2px;
  width: 87px;
}

.nav-menu a {
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 42px;
  opacity: 0.6;
  letter-spacing: -0.01em;
}

.nav-menu a:hover {
  opacity: 1;
  transition: 0.05s ease;
}

#language {
  width: 171px;
  line-height: 20px;
  font-size: 12px;
  font-weight: 200;
}

.currency {
  position: relative;
  font-weight: bold;
  line-height: 20px;
  font-size: 11px;
  text-transform: uppercase;
}

.currency svg {
  margin-left: 12px;
}

#currency__current {
  pointer-events: all;
  padding-bottom: 5px;
  z-index: 1;
}

#currency__current__click-zone {
  cursor: pointer;
  pointer-events: all;
}

#currency__popup {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;

  top: 25px;
  left: -10px;
  width: 74px;

  padding: 5px 0;
  background: #ffffff;
  box-shadow: 0px 10px 25px rgba(30, 42, 53, 0.1);
  border-radius: var(--primary-border-radius);
  z-index: 1;
}

#currency__popup a {
  display: block;
  color: #1e2a35;
  padding: 7px 10px;
}

#currency__popup a:hover {
  color: var(--primary-color);
  transition: 0.05s ease;
}

#currency__popup a:hover span {
  color: #1e2a35;
}

#currency__popup span {
  margin-left: 10px;
  font-weight: normal;
  font-size: 11px;
  color: #999ea7;
}

.top h2 {
  margin-top: 29px;
  margin-left: -1px;
  margin-bottom: -4px;
  font-style: italic;
  font-size: 24px;
}

.top__recommended {
  max-width: 260px;
  line-height: 1.6em;
}

h1 {
  margin-top: 26px;
  margin-left: -3.5px;
  font-weight: 900;
  font-size: 64px;
}

.top__column-left {
  flex-grow: 1;
}

.top__column-right {
  padding-top: 37px;
  padding-right: 15px;
}

.reviews {
  display: block;
  font-weight: 900;
  font-size: 16px;
  margin-left: -2px;
}

.heart {
  position: relative;
  top: 4px;
}

.articles {
  margin-top: 61px;
}

.articles a {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.articles li {
  margin-bottom: 17px;
  height: 23px;
}

.articles span {
  margin-left: 10px;
  color: #fff;
  opacity: 0.6;
}

.articles span:hover {
  opacity: 1;
}

.articles svg {
  position: relative;
  top: 8px;
  margin-right: 8px;
}

.top__stats {
  margin-top: -2px;
  line-height: 21px;
  font-size: 14px;
}

/* Settings */
.settings {
  margin: -37px 65px -4px 68px;
  align-items: center;
  height: 69px;
  color: #fff;
}

.settings__setting {
  justify-content: center;
  border-radius: var(--primary-border-radius);
  padding: 1px 15px 0 15px;
  height: 100%;
  background: linear-gradient(
      0deg,
      rgba(30, 42, 53, 0.1),
      rgba(30, 42, 53, 0.1)
    ),
    var(--primary-color);

  letter-spacing: 0.03em;
}

.settings__divider {
  margin-left: -2px;
  width: 2px;
  height: 100%;
  opacity: 0.2;
  background: #fff;
}

.settings__setting-city {
  width: 270px;
  border-radius: 2px 0 0 2px;
}

.settings__setting-dates {
  width: 265px;
  border-radius: 0 2px 2px 0;
}

.settings__setting-filters {
  background: var(--primary-color);
  width: 265px;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}

.settings__setting-filters svg {
  position: relative;
  right: -7px;
}

.settings__label {
  line-height: 20px;
  font-size: 12px;
  opacity: 0.8;
}

.settings__choice {
  font-weight: 500;
  line-height: 30px;
  font-size: 16px;
}

#date_total {
  display: inline;
}
/* Cars header*/

.cars__header {
  margin: 0 64px 0 71px;
}

.cars__header h2 {
  color: #232a36;
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  margin-bottom: 4px;
}

.cars__header a {
  color: #232a36;
  font-weight: bold;
  line-height: 34px;
  font-size: 16px;
}

.cars__header__column-left {
  position: relative;
  flex-grow: 1;
}

.cars__header__type-link {
  position: relative;
  margin-right: 16.5px;
}

.cars__header__type-link {
  display: inline-block;
}
.cars__header__type-link span {
  display: inline-block;
}

.cars__header__type-link .cars_amount {
  width: 15px;
  position: relative;
  bottom: 5px;
  left: 5px;
  font-weight: 500;
  line-height: normal;
  font-size: 11px;
  color: #999ea7;
}

.cars__header__column-right {
  margin-top: 39px;
}

.cars__header__display {
  margin-left: 31px;
}

.cars__header__display svg {
  fill: #999ea7;
  position: relative;
  top: 3px;
}

.cars__header__display:last-of-type {
  margin-right: 3px;
  margin-left: 20px;
}

.cars__header__display-active svg {
  fill: var(--primary-color);
}

#cars__header__type-active-bar {
  margin-top: -5px;
  width: 32px;
  height: 2px;
  background: #1fa4d4;
  transition: all 0.3s;
}

/* Car type banners: */

.cars__types {
  display: grid;
  grid-template-columns: repeat(auto-fill, 222px);
  grid-column-gap: 5px;

  margin: 38px 50px 35px 71px;
}

.cars__type {
  height: 121px;
  display: block;
  position: relative;
  overflow: hidden;
}

.cars__type__overlay {
  display: block;
  background: rgba(0, 0, 0, 0.22);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cars__type__wrapper {
  width: 444px;
  height: 242px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -62px;
  left: -111px;
}

.cars__type img {
  display: block;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.1);
  border-radius: var(--primary-border-radius);
}

.cars__type h3 {
  position: absolute;
  top: -2px;
  left: 20px;
  font-weight: 900;
  font-size: 20px;
  color: #ffffff;
  z-index: 1;
}

.cars__type span {
  position: absolute;
  bottom: 17px;
  left: 25px;
  font-weight: 500;
  font-size: 13px;
  color: #f5f7f9;
  z-index: 1;
}

/* Cars main grid*/

.cars {
  padding: 10px 66px 0 66px;
}

.cars__grid {
  position: relative;
  margin-left: -4px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 220px);
  grid-gap: 21px 5px;
  margin-bottom: 21px;
}

.sliding {
  animation: slide 0.65s ease;
}

@keyframes slide {
  from {
    left: 1300px;
  }
  to {
    left: 0px;
  }
}
.car {
  display: block;
  position: relative;
  width: 220px;
  height: 330px;
  color: #1e2a35;
  z-index: 1;
}

.car__text {
  padding: 13.4px 15px;
}

.car__features {
  position: absolute;
  top: -5px;
  left: 1px;
  margin: 10px;
}

.car__feature {
  width: auto;
  align-self: flex-start;
  margin-top: 5px;
  padding: 0 10px;
  color: #fff;
  background: var(--primary-color);
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  border-radius: var(--primary-border-radius);
  height: 20px;
  line-height: 20px;
}

.car__feature-white {
  color: #1e2a35;
  background: #fff;
}
.car__image__front {
  display: block;
  margin: 0 auto;
}

.car__image__back {
  position: relative;
  display: none;
  margin: 0 auto;
  border-radius: 2px 2px 0px 0px;
}

.car__bg {
  background: #fff;
  box-shadow: 0px 5px 15px rgba(30, 42, 53, 0.05);
  border-radius: var(--primary-border-radius);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.2s ease;
}

.car__images {
  display: block;
  height: 160px;
}

.car__images:hover .car__image__back {
  display: block;
}

.car__images:hover .car__image__front {
  display: none;
}

.car__images:hover ~ .car__bg {
  box-shadow: 0px 15px 35px rgba(30, 42, 53, 0.15);
}

.car__images:hover ~ .car__features {
  display: none;
}

.car__images img {
  display: block;
}

.car__images__bars {
  position: absolute;
  bottom: 10px;
  left: 50px;
  display: grid;
  grid-template-columns: repeat(5, 20px);
  grid-column-gap: 5px;
  height: 2px;
}

.car__images__bar {
  background: #fff;
}

.car__images__bar-active {
  background: var(--primary-color);
}

.car h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: block;
  margin: 1px 0 5px 0;
}

.car p {
  line-height: 20px;
  font-size: 14px;
  margin: 0;
}

.car__price-day {
  display: block;
  position: absolute;
  bottom: 15px;
  font-size: 14px;
}

.car__price-total {
  display: block;
  position: absolute;
  padding-left: 1px;
  bottom: 40px;
  font-weight: 900;
  font-size: 24px;
}

/* Car info slide */

.car__slide {
  pointer-events: none;
  position: absolute;
  width: 220px;
  height: 100%;
  bottom: 0px;
  left: 0px;
}

.car__slide__inner {
  opacity: 0;
  background: #ffffff;
  text-align: center;
  border-radius: 0px 0px 2px 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 0px;
  padding-top: 165px;
  z-index: 1;
  transition: all 0.45s ease;
  overflow-y: hidden;
}

.car__info-icon {
  pointer-events: all;
  position: absolute;
  right: 16px;
  bottom: 41px;
  opacity: 0.6;
}

.car__slide__inner:hover,
.car__info-icon:hover + .car__slide__inner {
  opacity: 0.95;
  height: 165px;
  padding-top: 0px;
  pointer-events: all;
}

.car__slide__icon {
  margin-top: 21;
}

.car__slide__grid {
  text-align: left;
  font-size: 14px;
  padding: 32px 0 0 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1.3em;
  grid-gap: 0.5em 35px;
}

.car__slide__grid-total {
  font-weight: bold;
}

/* "Load more" button */

.cars__button-row {
  flex-grow: 1;
  justify-content: center;
  margin-bottom: 200px;
}

.cars__button-load {
  margin-top: 73.3px;
  margin-left: 8px;
  display: block;
  width: 276px;
  height: 40px;
  padding-top: 1px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  line-height: 41px;
  background: var(--primary-color);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
  border-radius: var(--primary-border-radius);
}

/* Banner */
.banner {
  position: relative;
  display: block;
  width: 901px;
  height: 122px;
  border-radius: 3px;
  background: url(./img/banner.png);
  margin: 42px 0 22px 5px;
}

.banner span {
  display: block;
  position: absolute;
  top: 45px;
  left: 37.5px;
  color: #fff;
  font-weight: 900;
  font-size: 36px;
  line-height: 30px;
}

/* Small screens */

@media only screen and (max-width: 1010px) {
  .top__column-right,
  .top p,
  .cars__header__column-right {
    display: none;
  }

  #crossroad {
    display: none;
  }

  .banner {
    max-width: 100%;
    margin: 42px 0 22px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner span {
    position: static;
    line-height: 40px;
    text-align: center;
  }
}

@media only screen and (max-width: 890px) {
  .settings__setting-dates .settings__label,
  .nav-menu__bar,
  .mobile-hide {
    display: none;
  }
}

@media only screen and (max-width: 810px) {
  .top {
    padding-left: 6%;
    padding-right: 6%;
  }

  .cars,
  .cars__types {
    padding: 0 2%;
  }

  .settings {
    margin-left: 2%;
    margin-right: 2%;
  }

  .cars__grid,
  .cars__types {
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
  }

  .settings__label {
    display: none;
  }
}

@media only screen and (max-width: 760px) {
  #cars__header__type-active-bar {
    display: none;
  }
}

@media only screen and (max-width: 720px) {
  .settings__choice {
    font-size: 14px;
  }

  #crossroad {
    display: block;
  }
}

@media only screen and (max-width: 575px) {
  #date_total {
    display: none;
  }
}
